---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<section class="py-32">
  <h2 class="text-6xl font-semibold">{title}</h2>
  <h3 class="text-3xl font-semibold mt-4">{subtitle}</h3>
  <slot />
</section>
